  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.nom}}" placeholder="Nom" name="nom">
      <label for="floatingInput">Nom</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.cognoms}}" placeholder="Cognoms" name="cognoms">
      <label for="floatingInput">Cognoms</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.telefon}}" placeholder="Telèfon" name="telefon">
      <label for="floatingInput">Telèfon</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.coeficient}}" placeholder="Coeficient" name="coeficient">
      <label for="floatingInput">Coeficient</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
       <select class="form-control" id="select1" value="{{this.estat}}" placeholder="Estat" name="estat">
      <option value="Actiu">Actiu</option>
      <option value="Baixa">Baixa</option>
      </select>
      <label for="floatingInput">Estat</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Comentaris" id="comments" name="comentaris" style="height: 200px">{{this.comentaris}}</textarea>
      <label for="comments">Comentaris</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Crear</button>
  </div>