<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.nom}}" placeholder="Nom" name="nom">
    <label for="floatingInput">Nom</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.cognoms}}" placeholder="Cognoms"
      name="cognoms">
    <label for="floatingInput">Cognoms</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com"
      name="email">
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.telefon}}" placeholder="Telèfon"
      name="telefon">
    <label for="floatingInput">Telèfon</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.coeficient}}" placeholder="Coeficient"
      name="coeficient">
    <label for="floatingInput">Coeficient</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">    
    <select class="form-control" id="select1" value="{{this.estat}}" placeholder="Estat" name="estat">
     <option value="{{this.estat}}" hidden="hidden" selected="selected">{{this.estat}}</option>
      <option value="Actiu">Actiu</option>
      <option value="Baixa">Baixa</option>
    </select>
    <label for="floatingInput">Estat</label>
    <script>
      //console.log("holaaaaaaaaaaa");
      //document.getElementById('select1').value = `$this.estat`;
      </script>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Comentaris" id="comments" name="comentaris"
      style="height: 70px">{{this.comentaris}}</textarea>
    <label for="comments">Comentaris</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" href="/" type="submit">ENVIA</button>
</div>
<script>
  function validate() {
    var name = document.forms["dadesUsuari"]["nom"];
    var cognoms = document.forms["dadesUsuari"]["cognoms"];
    var email = document.forms["dadesUsuari"]["email"];
    var coeficient = document.forms["dadesUsuari"]["coeficient"];
    //document.forms["dadesUsuari"]["coeficient"].value = document.forms["dadesUsuari"]["coeficient"].replace(',', '.'));
    
    if (name.value == "") {
      alert("Introdueix el nom");
      name.focus();
      return false;
    }
    if (cognoms.value == "") {
      alert("Introdueix el cognom");
      cognoms.focus();
      return false;
    }
    if (email.value == "") {
      alert("Introdueix el correu electrònic");
      email.focus();
      return false;
    }
    if (coeficient.value > 1 || coeficient.value < 0 || coeficient.value == "") {
      alert("Introdueix un coeficient entre 0 i 1");
      coeficient.focus();
      return false;
    }    
  }
</script>