{{!-- {{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Usuari donat de baixa
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if alert2}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  El coeficient total no és igual a 1. Revisa els coeficients de tots els usuaris
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}} --}}

<div class="row">
  <div class="col-5">
    <h1>Usuaris</h1>
  </div>
  <div class="col-3">     
    <h5 id="cT" style="padding-top: 7%;"> Coeficient total : {{coeficientTotal}}</h5>    
  </div>
  <div class="col-4 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ crear usuari</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
       <th scope="col">Actualització</th>
      <th scope="col">Nom</th>
      <th scope="col">Cognoms</th>
      <th scope="col">Email</th>
      <th scope="col">Telèfon</th>
      <th scope="col">Coeficient</th>
      <th scope="col">Estat</th>
      <th scope="col">Comentaris</th>
      <th scope="col" style="text-align: center;">Accions</th>
    </tr>
  </thead>
  <tbody>
    <script>
      var coeficientT =0;      
    </script>
    {{#each rows}}
      <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.dataActualitzacio}}</td>
      <td>{{this.nom}}</td>
      <td>{{this.cognoms}}</td>
      <td>{{this.email}}</td>
      <td>{{this.telefon}}</td>
      <td style="text-align: center;"><b>{{this.coeficient}}</b></td>
      <td>{{this.estat}}</td>
      <td>{{this.comentaris}}</td>
      <td class="text-end">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> Info</a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
          Edita</a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Elimina</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
