{{!-- {{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Usuari donat de baixa
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if alert2}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  El coeficient total no és igual a 1. Revisa els coeficients de tots els usuaris
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}} --}}

<div class="row">
  <div class="col-12">
    <h4 style="color:rgb(9, 120, 231);padding-top: 3%;text-align:center;">INTERRUPCIONS DE SERVEI</h4>
  </div>  
</div>
<div class="table-responsive">
<table id="tableF" class="table table-bordered" style="font-size:medium;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Data inici</th>
      <th scope="col">Data fi</th>
      <th scope="col">Interrupció (minuts)</th>
      <th scope="col">Voltatges (V)</th>
      <th scope="col">Intensitats (A)</th>      
    </tr>
  </thead>
  <tbody>    
    {{#each rows}}
      <tr>
      <td scope="row">{{this.data_inici}}</th>      
      <td>{{this.data_fi}}</td>      
      <td>{{this.minuts}}</td>
      <td>{{this.voltatges}}</td>
      <td>{{this.intensitats}}</td>            
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
