{{!-- {{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Usuari donat de baixa
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if alert2}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  El coeficient total no és igual a 1. Revisa els coeficients de tots els usuaris
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}} --}}

<div class="row">
  <div class="col-5">
    <h4 style="color:rgb(9, 120, 231);padding-top: 3%;">USUARIS</h4>
  </div>
  <div class="col-3">     
    <h5 id="cT" style="color:rgb(9, 120, 231); padding-top: 7%;"> Coeficient total : {{cT}}</h5>    
  </div>
  <div class="col-4 d-flex justify-content-end">
    <a href="/usuaris/adduser" type="button" class="btn btn-primary align-self-center">+ crear usuari</a>
  </div>
</div>

<table class="table table-bordered" style="font-size:medium;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Cognoms</th>
      <th scope="col">Email</th>
      <th scope="col">Coeficient</th>
      <th scope="col">Estat</th>
      <th scope="col" style="text-align: center;">Accions</th>
    </tr>
  </thead>
  <tbody>    
    {{#each rows}}
      <tr>
      <td scope="row">{{this.idComunitat}}</th>      
      <td>{{this.nom}}</td>
      <td>{{this.cognoms}}</td>
      <td>{{this.email}}</td>
      <td style="text-align: center;"><b>{{this.coeficient}}</b></td>
      <td>{{this.estat}}</td>      
      <td style="width: 28%;" class="text-end">
        <a style="font-size:100%"; href="/usuaris/viewuser/{{this.idUsuari}}" type="button" class="btn btn-light btn"><i style="font-size: 115%;" class="bi bi-eye 2xs"></i> Info</a>
        <a style="font-size:100%"; href="/usuaris/edituser/{{this.idUsuari}}" type="button" class="btn btn-light btn"><i style="font-size: 115%;"  class="bi bi-pencil"></i>
          Edita</a>
        <a style="font-size:100%"; href="/usuaris/{{this.idUsuari}}" type="button" class="btn btn-light btn"><i style="font-size: 115%;"  class="bi bi-person-x"></i> Elimina</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
