<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Info usuari</li>
  </ol>
</nav>

<div class="view-user p-3">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>Usuari {{this.id}} - {{this.nom}} {{this.cognoms}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data alta</th>
            <!--<th scope="col">Data actualització</th>-->
      <th scope="col">Nom</th>
      <th scope="col">Cognoms</th>
      <th scope="col">Email</th>
      <th scope="col">Telèfon</th>
      <th scope="col">Coeficient</th>
      <th scope="col">Estat</th>
      <th style="text-align: center;" scope="col">Accions</th>
          </tr>
        </thead>
        <tbody>
          <tr>            
            <th scope="row">{{this.dataAlta}}</th>
            <!--<th>{{this.dataModificacio}}</th>-->
            <td>{{this.nom}}</td>
            <td>{{this.cognoms}}</td>
            <td>{{this.email}}</td>
            <td>{{this.telefon}}</td>
            <td>{{this.coeficient}}</td>
            <td>{{this.estat}}</td>           
            <td class="text-end">
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
          Edita</a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Elimina</a>
      </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <b>Comentaris</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{this.comentaris}}
      </div>
    </div>
  </div>
  {{/each}}
</div>