<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Info usuari</li>
  </ol>
</nav>

<div class="view-user p-0">
  {{#each rows}}
  <div class="row mb-1">
    <div class="col text-center">
      <h3>{{this.nom}} {{this.cognoms}} - Id {{this.idComunitat}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data alta</th>
            <th scope="col">Data actualització</th>
            <th scope="col">Nom</th>
            <th scope="col">Cognoms</th>
            <th scope="col">Email</th>
            <th scope="col">Telèfon</th>
            <th scope="col">Coeficient</th>
            <th scope="col">Estat</th>
            <th scope="col">Comentaris</th>
            <th style="text-align: center;" scope="col">Accions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{this.dataAlta}}</th>
            <td>{{this.dataActualitzacio}}</th>
            <td>{{this.nom}}</td>
            <td>{{this.cognoms}}</td>
            <td>{{this.email}}</td>
            <td>{{this.telefon}}</td>
            <td>{{this.coeficient}}</td>
            <td>{{this.estat}}</td>
            <td>{{this.comentaris}}</td>
            <td style="width: 18%" ; class="text-end">
              <a href="/edituser/{{this.idUsuari}}" type="button" class="btn btn-light btn-small"><i
                  class="bi bi-pencil"></i>
                Edita</a>
              <a href="/{{this.idUsuari}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>
                Elimina</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{!-- <div class="row">
      <div class="col">
        <b>Comentaris</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{this.comentaris}}
      </div>
    </div> --}}
  </div>
  {{/each}}

  <table class="table table-bordered" style="font-size:medium;margin-top:1%">
    <thead class="thead-dark">
      <tr>
        <th style="width: 33%;" scope="col">Coeficient assignat</th>
        <th style="width: 33%;" scope="col">Data modificació</th>
        <th style="width: 33%;" scope="col">Comentaris</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows2}}
      <tr>
        <td>{{this.coeficient}}</td>
        <td scope="row">{{this.data}}</th>
        <td scope="row">{{this.comentaris}}</th>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>